{% extends 'profes.html' %}

{% load static %}


{% block contenidoQueCambia %}

<h1>Lista de directivos</h1>

    <ul>
        
        {% for directivo in directivos %}
            <li>
                {{directivo}}
            </li>
            <div>
                <form action="{% url 'EliminaDirectivo' directivo.id %}" method="POST">{% csrf_token %}

                    <button type="submit"> Eliminar </button>
                </form>
                <button>
                    <a href="{% url 'EditarDirectivo' directivo.id %}"> Editar</a>
                </button>
            </div>

               
        {% endfor %}
    <ul>
            


{% endblock contenidoQueCambia %}